astroid==3.2.4
cfgv==3.4.0
dill==0.3.8
distlib==0.3.8
filelock==3.15.4
identify==2.6.0
isort==5.13.2
mccabe==0.7.0
nodeenv==1.9.1
platformdirs==4.2.2
pre-commit==3.8.0
pylint==3.2.6
PyYAML==6.0.2
tomli==2.0.1
tomlkit==0.13.0
typing_extensions==4.12.2
virtualenv==20.26.3
